body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #222;
}

ul {
  list-style-type: none;
  margin: 0;
  margin-bottom: 3%;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.navlogo {
  display: flexbox;
  justify-content: center;
  align-items: center;
  width: 120px;
  text-align: center;
}

.titulologinregister {
  margin: auto;
  text-align: center;
  padding: 4%;
}

.ContainerRegisterLogin {
  
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  background-color: rgb(50, 50, 50);
  padding: 1.5em;
  border-radius: 1em;
  border-top-left-radius: 0;
}

/* Bordered form */
.register {
  display:inline-flex;
  justify-content: center;
  background-color: #f1f1f1;
  border: 3px solid #f1f1f1;
  width: 40em;
  padding: 1em;
  margin: 2em;
  border-radius: 1em;
}

.login {
  display:inline-flex;
  justify-content: center;
  background-color: #f1f1f1;
  border: 3px solid #f1f1f1;
  margin-top: 4em;
  margin-right: 5em;
  width: 40em;
  padding: 1em;
  margin: 2em;
  border-radius: 1em;

}

/* Full-width inputs */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.logregbutton {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
.logregbutton:hover {
  opacity: 0.8;
}


/* The "Forgot password" text */
span.psw {
  float: right;
  padding: 0.5em;
  color: black;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}







/* Portadas */
.portada {
  margin-top: 4em;
}

.tituloportadas {
  display: inline;
  padding: 0.5em;
  background-color: #d9d9d9;
  border-radius: 1em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

* {
  box-sizing: border-box
}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  display: inline-flex;
  justify-content: center;
  position: relative;
  height: auto;
  width: auto;
  max-width: 18.75em;
  /* 300px */
  /* border: solid green 1px; */
}

div.containerPortadas {
  /* border: solid green 1px; */
  display: inline-flex;
  justify-content: center;
  margin-bottom: 2%;
  background-color: rgb(50, 50, 50);
  padding: 1.5em;
  border-radius: 1em;
  border-top-left-radius: 0;
}

/* Portada */
.image {
  display: inline-block;
  width: 90%;
  border-radius: 15px;
  margin: 0px;
}

/* Efecto overlay */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  width: 90%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 1em;
  padding: 1em;
  text-align: center;
  border-radius: 15px;
}

/* Hover de la imagen */
.container:hover .overlay {
  opacity: 1;
}

section.obras {
  margin: 3em;
  margin-top: 0em;
}

.search_box {
  display: inline-flex;
  float: right;
}
